* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #daedfb;
}
nav {
    display: inline;
    justify-content: space-between;
    float: right;  
    padding: 10px 10px 0 10px;
    color: black;
    font-weight: 700;
}
header {
    text-align: right;
    width: 100%;
    height: 70px;
    background: url(../images/crumpled_paper.jpg);
    background-size: auto;
    text-align: center;
    font-weight: 500;
    padding: 75px 0 25px 0;
    border-bottom: 2px solid black;
}
header p {
    font-size: 16pt;
}

img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
figcaption {
    font-size: 8pt;
    text-align: center;
}
.links {
    display: inline;
    margin: 0 20px 0 0;
}
section {
    text-align: center;
}
#title {
    margin-top: 5px;
    text-align: center;
    width:100%;
    height: 40px;
}
}
#contact {
    height: 55px;
    width: 100%;
    background-color: #87bfff;
    border-top: 5px solid #2667ff;
    border-bottom: 5px solid #2667ff;
}
footer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 5px 0;
}
main p {
    margin: 50px;
}
h4 {
    margin-bottom: 5px;
}